/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF4F4F;
    color: white;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.navbar .brand {
    font-size: 1.8em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #7b98b1;
    border-radius: 5px;
}
